

img{
    position: absolute;
    left: 10%;
    top: 5%;
    width: 80%;
}
.main2{
    position: absolute;
    width: 30%;
    height: 550px;
    background-color: black;
    left: 35%;
top: 11%;
}

.main{
    background-color: blue;
    width: 100%;
}

p{
    text-align: center;
    color: red;
    position: absolute;
    width: 80%;
    left: 10%;
    top: 70%;
    font-size: 6mm;
}

.a{
    text-decoration: none;
    font-size: 8mm;
    color: black;
    background-color: red;
    text-align: center;
    left: 10%;
    height: 40px;
    width: 80%;
    top: 90%;
    position: absolute;
}


@media screen and (max-width:1000px){
    p{
top: 60%;
    }

    .main2{
height: 480px;
    }
}

@media screen and (max-width:800px) {
    .main2{
        width: 70%;
        left: 15%;
        height: 700px;
    }

    p{
        top: 75%;
    }
}

@media screen and (max-width:650px) {
    .main2{
        height: 630px;
    }
    p{
        font-size: 7mm;
        top: 70%;
    }
}

@media screen and (max-width:530px) {
    .main2{
        height: 550px;
    }

    p{
        top: 59%;
    }
}

@media screen and (max-width:461px) {
    p{
        font-size: 24px;
    }
}

@media screen and (max-width:418px) {
    p{
        font-size: 22px;
    }

    .main2{
        height: 460px;
    }
}

@media screen and (max-width:384px) {
    p{
        font-size: 20px;
    }
}

@media screen and (max-width:461px) {
    p{
        font-size: 22px;
    }

    .main2{
        width: 90%;
        left: 5%;
    }
}

@media screen and (max-width:299px) {
    p{
        font-size: 19px;
    }
}