#cards{
margin: 10px;
}

.maincard{
    background-color: silver;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

footer{
    height: 300px;
    width: 100%;
    position: relative;
    top: 100px;
    background-color: rgb(103, 105, 103);
}

.main3{
    top: 30%;
    position: absolute;
  width: 80%;
  left: 10%;
  background-color: rgb(103, 105, 103);
}

.buy{
    left: 50%;
    top: 100%;
    position: absolute;
    
align-content: center;
text-align: center;
background-color: blue;
}

button{
    background-color: blue;
}